.product {
  background-color: #ffd4bf;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  width: 30vw;
  max-width: 320px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.product img {
  border-radius: 10px;
}
