.page {
  height: 100vh;
  padding-top: 96px;
  padding-left: 20px;
  padding-right: 20px;
  color: #333;
  background-color: #ffb996;
}

.home {
  background-color: #d9edbf;
}

.products {
  background-color: #ffb996;
}

.about {
  background-color: #fdffab;
}

.contact {
  background-color: #ffcf81;
}

/** Products page */
.product-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/** Contact page */
.slide {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #0f0f0f;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffcf81;
}
